<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FtpUsername" value="test"/>
    <add key="FtpPassword" value="test"/>
    <add key="RunFtpTests" value="true"/>
    <add key="FtpLocalPath" value="F:\Docs\Dev\Ftp"/>
    <add key="FtpUrl" value="ftp://localhost"/>
  </appSettings>
</configuration>